{{> header }}
<div class="grid-x grid-margin-x" style="min-height: 100%">
  <div class="cell small-12 medium-8 medium-offset-2 reveal-for-medium reveal-for-large"> 
    <div class="off-canvas-wrapper">
      <div class="off-canvas-absolute position-right" id="detalle" data-off-canvas>
        <span class="close-button" aria-label="Close menu" type="button" data-close>
            <span aria-hidden="true">&times;</span>
        </span >
        <div class="grid-x grid-margin-x">
            <div class="cell small-10 small-offset-1">
               <h2 class="align-center">{{{__ "Débito Crédito"}}}</h2>
                <form action="/debitoCredito" method="POST">
                    <label>
                        <input id="consecutivo" type="text" name="consecutivo" value="" style="display:none;">
                        {{{__ "Nombre"}}}
                        <input id="nombre" type="text" name="nombre" placeholder="{{{__ "Ingresa el nombre"}}}">
                    </label>
                    <label>
                        {{{__ "Descripción"}}}
                        <input id="descripcion" type="text" name="descripcion" placeholder="{{{__ "Ingresa una descripción"}}}">
                    </label>
                    <label>
                        {{{__ "Tipo Débito Credito"}}}
                        <select id="tipo" name="tipo">
                            {{#each tiposDebitoCredito}}
                                <option value="{{this.tdc_consecutivo}}">{{this.tdc_nombre}}</option>
                            {{/each}}
                        </select>
                    </label>
                    <label>
                        {{{__ "Color"}}}
                        <input id="color" type="color" name="color">
                    </label>
                    <label>
                        {{{__ "Valor deseado"}}}
                        <input id="deseado" type="text" name="deseado" maxlength="15" placeholder="{{{__ "Ingresa tu valor deseado"}}}">
                    </label>
                    <label id="balancelabel">
                        {{{__ "Balance"}}}
                        <input id="balance" type="text" name="promedio" maxlength="15" disabled>
                    </label>
                    <div class="align-center">
                        <button id="btn_mod" class="button" name="submit" type="submit" value="mod">{{{__ "Modificar"}}}</button>
                        <button id="btn_del" class="button" name="submit" type="submit" value="del">{{{__ "Eliminar"}}}</button>
                    </div>
                </form>
            </div>
        </div>
      </div>
      <div class="off-canvas-content" data-off-canvas-content>
        <div class="cell small-12 page-height">
            <h2 class="align-center">{{{__ "Débito Crédito"}}}</h2>
{{#if results}}
            <input id="Busqueda" class="margin-left-40 width-20" type="text" placeholder="Busqueda">
            <table class="margin-left-10 width-80" >
                <tr>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Balance</th>
                </tr>
    {{#each results}}
                <tr id="fila{{this.dc_consecutivo}}" data-toggle="detalle" onclick="irADetalle({{this.dc_consecutivo}});">
                    <td id="nombre{{this.dc_consecutivo}}">{{this.dc_nombre}}</td>
                    <td id="tipoTexto{{this.dc_consecutivo}}">{{this.dc_tipoTexto}}</td>
                    <td id="balance{{this.dc_consecutivo}}" style="color:{{this.dc_color_balance}}">{{this.dc_balance}}</td>
                    <td id="tipo{{this.dc_consecutivo}}" style="display:none;">{{this.dc_tipo}}</td>
                    <td id="color{{this.dc_consecutivo}}" style="display:none;">{{this.dc_color}}</td>
                    <td id="deseado{{this.dc_consecutivo}}" style="display:none;">{{this.dc_deseado}}</td>
                    <td id="descripcion{{this.dc_consecutivo}}" style="display:none;">{{this.dc_descripcion}}</td>
                </tr>
    {{/each}}
            </table>
{{/if}}
            <button type="button" class="button margin-left-35 width-30" data-toggle="detalle" onclick="irADetalle(null);">{{{__ "Ingresar"}}}</button>
        </div>
      </div>
    </div> 
  </div>
</div>

    
{{> footer }}

<script>
    function irADetalle(codigo){
        var displayDel = 'none';
        var displayBal = 'none';
        var valBtn = "ins";
        var htmlBtn = '{{{__ "Insertar"}}}';

        if(!codigo){
            $('#consecutivo').val('');
            $('#nombre').val('');
            $('#balance').val('');
            $('#color').val('');
            $('#deseado').val('');
            $('#descripcion').val('');
            $('#tipo').val('');


        }else{
             $('#consecutivo').val(codigo);
             $('#nombre').val($('#nombre'+codigo).html());
             $('#balance').val($('#balance'+codigo).html());
             $('#color').val($('#color'+codigo).html());
             $('#deseado').val($('#deseado'+codigo).html());
             $('#descripcion').val($('#descripcion'+codigo).html());
             $('#tipo').val($('#tipo'+codigo).html());

            valBtn = "mod";
            htmlBtn = '{{{__ "Modificar"}}}';
            displayDel = "inline-block";
            displayBal = "block";
            
            }
            
            $('#btn_mod').val(valBtn);
            $('#btn_mod').html(htmlBtn);
            $('#btn_del').css({'display' : displayDel});
            $('#balancelabel').css({'display' : displayBal});
            
        }

    $(function(){
        $("#Busqueda" ).keyup(function() {
            $( "tr" ).each(function( index ) {
                if($( this ).attr('id')){
                    if($( this ).attr('id').match(/fila/) ) {
                        let fila = $(this).attr('id').replace("fila","");
                        let valBusqueda =  $("#Busqueda" ).val().toUpperCase();
                        let regexBusqueda = new RegExp(valBusqueda,"g");

                        if($('#nombre'+fila).html().toUpperCase().match(regexBusqueda)
                                || $('#tipoTexto'+fila).html().toUpperCase().match(regexBusqueda) ){
                            $(this).show();
            
                        }else{
                            $(this).hide();
                        }
					}
                }
            });
        });
        
    });
</script>
</body>
</html>

