{{> header }}
<div class="grid-x grid-margin-x" style="min-height: 100%">
  <div class="cell small-12 medium-8 medium-offset-2 reveal-for-medium reveal-for-large"> 
    <div class="off-canvas-wrapper">
      <div class="off-canvas-absolute position-right" id="detalle" data-off-canvas>
        <span class="close-button" aria-label="Close menu" type="button" data-close>
            <span aria-hidden="true">&times;</span>
        </span >
        <div class="grid-x grid-margin-x">
            <div class="cell small-10 small-offset-1">
               <h2 class="align-center">{{{__ "Fuentes"}}}</h2>
                <form action="/fuente" method="POST">
                    <label>
                        {{{__ "Nombre"}}}
                        <input id="nombre" type="text" name="nombre" placeholder="{{{__ "Ingresa un nombre"}}}">
                        <input id="consecutivo" type="text" name="consecutivo" value="" style="display:none;">
                    </label>
                    <label>
                        {{{__ "Descripción"}}}
                        <input id="descripcion" type="text" name="descripcion" placeholder="{{{__ "Ingresa una descripción"}}}">
                    </label>
                     <label>
                        {{{__ "Fecha Inicial"}}}
                        <input id="fechaInicial" type="date"  name="fechaInicial" placeholder="{{{__ "Ingresa la fecha inicial"}}}">
                    </label>
                     <label>
                        {{{__ "Fecha Final"}}}
                        <input id="fechaFinal" type="date"  name="fechaFinal" placeholder="{{{__ "Ingresa la fecha final"}}}">
                    </label>
                    <div class="align-center">
                        <button id="btn_mod" class="button" name="submit" type="submit" value="mod">{{{__ "Modificar"}}}</button>
                        <button id="btn_del" class="button" name="submit" type="submit" value="del">{{{__ "Eliminar"}}}</button>
                    </div>
                </form>
            </div>
        </div>
      </div>
      <div class="off-canvas-content" data-off-canvas-content>
        <div class="cell small-12 page-height">
            <h2 class="align-center">{{{__ "Fuentes"}}}</h2>
{{#if results}}
            <input id="Busqueda" class="margin-left-40 width-20" type="text" placeholder="{{{__ "Búsqueda"}}}">
            <table class="margin-left-10 width-80" >
                <tr>
                    <th>{{{__ "Nombre"}}}</th>
                    <th>{{{__ "Fecha Inicial"}}}</th>
                    <th>{{{__ "Fecha Final"}}}</th>
                </tr>
    {{#each results}}
                <tr id="fila{{this.f_consecutivo}}" data-toggle="detalle" onclick="irADetalle({{this.f_consecutivo}});">
                    <td id="nombre{{this.f_consecutivo}}">{{this.f_nombre}}</td>
                    <td id="descripcion{{this.f_consecutivo}}" style="display:none;">{{this.f_descripcion}}</td>
                    <td id="fechaInicial{{this.f_consecutivo}}">{{this.f_fecha_inicial}}</td>
                    <td id="fechaFinal{{this.f_consecutivo}}">{{this.f_fecha_final}}</td>
                </tr>
    {{/each}}
            </table>
{{/if}}
            <button type="button" class="button margin-left-35 width-30" data-toggle="detalle" onclick="irADetalle(null);">{{{__ "Ingresar"}}}</button>
        </div>
      </div>
    </div> 
  </div>
</div>

    
{{> footer }}

<script>
    function irADetalle(codigo){
        var displayDel = 'none';
        var valBtn = "ins";
        var htmlBtn = '{{{__ "Insertar"}}}';


        if(!codigo){
            $('#consecutivo').val('');
            $('#nombre').val('');
            $('#descripcion').val('');
            $('#fechaInicial').val('');
            $('#fechaFinal').val('');
        
        }else{
             $('#consecutivo').val(codigo);
             $('#nombre').val($('#nombre'+codigo).html());
             $('#descripcion').val($('#descripcion'+codigo).html());
             $('#fechaInicial').val($('#fechaInicial'+codigo).html());
             $('#fechaFinal').val($('#fechaFinal'+codigo).html());


            valBtn = "mod";
            htmlBtn = '{{{__ "Modificar"}}}';
            displayDel = "inline-block";
            
            }
            
            $('#btn_mod').val(valBtn);
            $('#btn_mod').html(htmlBtn);
            $('#btn_del').css({'display' : displayDel});
            
        }

    $(function(){
        $("#Busqueda" ).keyup(function() {
            $( "tr" ).each(function( index ) {
                if($( this ).attr('id')){
                    if($( this ).attr('id').match(/fila/) ) {
                        let fila = $(this).attr('id').replace("fila","");
                        let valBusqueda =  $("#Busqueda" ).val().toUpperCase();
                        let regexBusqueda = new RegExp(valBusqueda,"g");

                        if($('#nombre'+fila).html().toUpperCase().match(regexBusqueda)){
                            $(this).show();
            
                        }else{
                            $(this).hide();
                        }
					}
                }
            });
        });
        
    });
</script>
</body>
</html>

