{{> header }}
<div class="grid-x grid-margin-x" style="min-height: 100%">
  <div class="cell small-12 medium-8 medium-offset-2 reveal-for-medium reveal-for-large"> 
    <div class="off-canvas-wrapper">
      <div class="off-canvas-absolute position-right" id="detalle" data-off-canvas>
        <span class="close-button" aria-label="Close menu" type="button" data-close>
            <span aria-hidden="true">&times;</span>
        </span >
        <div class="grid-x grid-margin-x">
            <div class="cell small-10 small-offset-1">
               <h2 class="align-center">Tipos débito crédito</h2>
                <form action="/tipoDebitoCredito" method="POST">
                    <label>
                        Codigo
                        <input id="codigo" type="text" name="codigo" maxlength="2" placeholder="Ingresa el codigo">
                        <input id="id" type="text" name="id" value="" style="display:none;">
                    </label>
                    <label>
                        Nombre
                        <input id="nombre" type="text" name="nombre" placeholder="Ingresa el nombre">
                    </label>
                    <label>
                        Descripcion
                        <input id="descripcion" type="text" name="descripcion" placeholder="Ingresa una descripcion">
                    </label>
                    <label>
                        Naturaleza
                        <select id="naturaleza" name="naturaleza">
                            {{#each naturalezas}}
                                <option value="{{this.pm_codigo}}">{{this.pm_descripcion}}</option>
                            {{/each}}
                        </select>
                    </label>
                    <label>
                        Color
                        <input id="color" type="color" name="color">
                    </label>
                    <label>
                        Valor deseado
                        <input id="deseado" type="text" name="deseado" maxlength="5" placeholder="Ingresa tu porcentaje">
                    </label>
                    <label id="balancelabel">
                        Balance
                        <input id="balance" type="text" name="promedio" maxlength="5" disabled>
                    </label>
                    <div class="align-center">
                        <button id="btn_mod" class="button" name="submit" type="submit" value="mod">Modificar</button>
                        <button id="btn_del" class="button" name="submit" type="submit" value="del">Eliminar</button>
                    </div>
                </form>
            </div>
        </div>
      </div>
      <div class="off-canvas-content" data-off-canvas-content>
        <div class="cell small-12 page-height">
            <h2 class="align-center">Tipos débito crédito</h2>
{{#if results}}
            <input id="Busqueda" class="margin-left-40 width-20" type="text" placeholder="Busqueda">
            <table class="margin-left-10 width-80" >
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Naturaleza</th>
                    <th>Balance</th>
                </tr>
    {{#each results}}
                <tr id="fila{{this.tdc_codigo}}" data-toggle="detalle" onclick="irADetalle('{{this.tdc_codigo}}');">
                    <td id="codigo{{this.tdc_codigo}}">{{this.tdc_codigo}}</td>
                    <td id="nombre{{this.tdc_codigo}}">{{this.tdc_nombre}}</td>
                    <td id="naturalezaTexto{{this.tdc_codigo}}">{{this.tdc_naturalezaTexto}}</td>
                    <td id="balance{{this.tdc_codigo}}" style="color:{{this.tdc_color_balance}}">{{this.tdc_balance}}</td>
                    <td id="naturaleza{{this.tdc_codigo}}" style="display:none;">{{this.tdc_naturaleza}}</td>
                    <td id="color{{this.tdc_codigo}}" style="display:none;">{{this.tdc_color}}</td>
                    <td id="deseado{{this.tdc_codigo}}" style="display:none;">{{this.tdc_deseado}}</td>
                    <td id="descripcion{{this.tdc_codigo}}" style="display:none;">{{this.tdc_descripcion}}</td>
                </tr>
    {{/each}}
            </table>
{{/if}}
            <button type="button" class="button margin-left-35 width-30" data-toggle="detalle" onclick="irADetalle(null);">Ingresar</button>
        </div>
      </div>
    </div> 
  </div>
</div>

    
{{> footer }}

<script>
    function irADetalle(codigo){
        var disabled = false;
        var displayDel = 'none';
        var displayBal = 'none';
        var valBtn = "ins";
        var htmlBtn = "Insertar";

        if(!codigo){
            $('#codigo').val('');
            $('#id').val('');
            $('#nombre').val('');
            $('#balance').val('');
            $('#color').val('');
            $('#deseado').val('');
            $('#descripcion').val('');
            $('#naturaleza').val('');


        }else{
             $('#codigo').val($('#codigo'+codigo).html());
             $('#id').val($('#codigo'+codigo).html());
             $('#nombre').val($('#nombre'+codigo).html());
             $('#balance').val($('#balance'+codigo).html());
             $('#color').val($('#color'+codigo).html());
             $('#deseado').val($('#deseado'+codigo).html());
             $('#descripcion').val($('#descripcion'+codigo).html());
             $('#naturaleza').val($('#naturaleza'+codigo).html());


            disabled = true;
            valBtn = "mod";
            htmlBtn = "Modificar";
            displayDel = "inline-block";
            displayBal = "block";
            
            }
            
            $('#codigo').prop("disabled",disabled);
            $('#naturaleza').prop("disabled",disabled);
            $('#btn_mod').val(valBtn);
            $('#btn_mod').html(htmlBtn);
            $('#btn_del').css({'display' : displayDel});
            $('#balancelabel').css({'display' : displayBal});
            
        }

    $(function(){
        $("#Busqueda" ).keyup(function() {
            $( "tr" ).each(function( index ) {
                if($( this ).attr('id')){
                    if($( this ).attr('id').match(/fila/) ) {
                        let fila = $(this).attr('id').replace("fila","");
                        let valBusqueda =  $("#Busqueda" ).val();
                        let regexBusqueda = new RegExp(valBusqueda,"g");

                        if($('#codigo'+fila).html().match(regexBusqueda)
                                || $('#nombre'+fila).html().match(regexBusqueda) ){
                            $(this).show();
            
                        }else{
                            $(this).hide();
                        }
					}
                }
            });
        });
        
    });
</script>
</body>
</html>

